@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Outfit:wght@200&family=Space+Grotesk:wght@500&display=swap');

:root {
    font-family: 'Space Grotesk', sans-serif;
    background: linear-gradient(to left, rgb(25, 176, 226), rgb(176, 235, 255));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.header__main {
    display: flex;
    align-items: center;
    color: white;
    font-style: italic;
    z-index: 2;
}

.header__main > i {
    font-size: 48px;
    color: rgb(255, 255, 48);
    padding-right: 10px;
}

@keyframes moveAround {
    0% {
        left: 0%;
    }
    100% {
        left: 90%;
    }
}

header > img {
    left: 0%;
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 150px;
    animation: 15s linear 1s infinite alternate moveAround;
}

main > section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    background: white;
    opacity: 90%;
    border-radius: 2rem;
    margin: 0 10% 0 10%;
    padding: 2rem;
}


section > .container.search {
    margin: 0 auto;
}

.weather.main {
    display: flex;
    flex-direction: row;
    padding: 4%;
}

.weather.main > .weather.general {
    margin: 0 15%;
    padding-right: 2%;
}

.weather.general > .general__weather {
    align-items: center;
    font-size: 60px;
    margin-bottom: 15%;
}

.weather.general > h1 {
    font-size: 32px;
}

.weather.general > h3 {
    font-size: 16px;
    font-style: italic;
}

.weather.main > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 24px;
}

.weather.main ul > li {
    display: flex;
}

.weather.main ul > label {
    text-align: center;
    font-size: 22px;
    margin: 2% 0;
}

.weather.main ul > li > .icon {
    font-size: 32px;
}

.weather.main ul > li > .icon > img {
    width: 32px;
}

.weather.main ul > li > .txt {
    padding-left: 5%
}