@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Outfit:wght@200&family=Space+Grotesk:wght@500&display=swap');

:root {
    font-family: 'Space Grotesk', sans-serif;
    background: linear-gradient(to left, rgb(25, 176, 226), rgb(176, 235, 255));
}

* {
    max-height: 120vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.header__main {
    display: flex;
    align-items: center;
    color: white;
    font-style: italic;
    z-index: 2;
}

.header__main > i {
    font-size: 48px;
    color: rgb(255, 255, 48);
    padding-right: 10px;
}

@keyframes moveAround {
    0% {
        left: 0%;
    }
    100% {
        left: 90%;
    }
}

header > img {
    left: 0%;
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 150px;
    animation: 15s linear 1s infinite alternate moveAround;
}

@media (max-width: 480px) {
    .header__main > h1 {
        font-size: 24px
    }
    .header__main > i {
        font-size: 32px;
    }
    header > img {
        width: 100px;
        height: 100px;
    }
}

main > section {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    background: white;
    opacity: 90%;
    border-radius: 2rem;
    margin: 0 10% 0 10%;
    padding: 2rem;
}

section > img {
    position: absolute;
    width: 128px;
    height: 128px;
}

section > .container.search {
    margin: 0 30%;
}

.container.input {
    width: 40%;
    margin: 0 2%;
    background: transparent;
    border: none;
    border-bottom: 4px solid black;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
}

.container.input#error {
    background-color: #fbd4d4;
    animation: shake 300ms;
}

@keyframes shake {
    25%{
        transform: translate(4px);
    } 50% {
        transform: translate(-4px);
    } 75% {
        transform: translate(4px);
    }
}

.container.input:focus {
    outline: none;
}

.container.search > button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.weather.main {
    display: flex;
    flex-direction: row;
    padding: 4%;
}

.container.search > button > i {
    font-size: 18px;
}

.weather.main > .weather.general {
    margin: 0 15%;
    padding-right: 2%;
}

.weather.general > .general__weather {
    align-items: center;
    font-size: 60px;
    margin-bottom: 15%;
}
/**/
.weather.general > h1 {
    font-size: 32px;
}

.weather.general > h3 {
    font-size: 16px;
    font-style: italic;
}

.weather.main > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 24px;
}

.weather.main ul > li {
    display: flex;
}

.weather.main ul > label {
    text-align: center;
    font-size: 22px;
    margin: 2% 0;
}

.weather.main ul > li > .icon {
    font-size: 32px;
}

.weather.main ul > li > .icon > img {
    width: 32px;
}

.weather.main ul > li > .txt {
    padding-left: 5%
}

@media (max-width: 480px) {
    main > section {
        padding: 5%;
        margin: 10%;
    }
    section > img {
        top: -10%;
        left: -20%;
        transform: rotate(-30deg);
        width: 128px;
        height: 128px;
    }
    section > .container.search {
        margin: 0 20%;
    }
    .container.input {
        font-size: 12px;
        width: 80%;
    }
    .weather.main {
        padding: 2%;
    }
    .weather.main > .weather.general {
        margin: 10% 2%;
    }
    .weather.general > .general__weather {
        margin: 2% 0 20% 0;
        font-size: 40px;
    }
    .weather.general > h1 {
        font-size: 24px;
    }
    .weather.general > h3 {
        font-size: 12px;
    }
    .weather.main > ul {
        padding: 20% 10%;
        font-size: 16px;
    }
    .weather.main ul > label {
        font-size: 16px;
    }

}

footer {
    margin-top: 6%;
    position: relative;
}

footer > .wrapper {
    margin: 3% auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > .wrapper > * {
    z-index: 3;
}

.wrapper > p {
    padding-left: 20px;
}

.wrapper > a {
    text-decoration: none;
    color: black;
    padding: 0 3px;
}

.wrapper > img {
    border-radius: 100%;
    border: 1px solid rgb(25, 176, 226);
}

.clouds {
    position: absolute;
    background-color: #fff;
    opacity: 100%;
}

footer > .clouds[id="0"] {
    width: 300px;
    height: 75px;
    z-index: 1;
    top: -20%;
    left: 40%;
    box-shadow: 15px 10px 50px rgba(81, 83, 84, 0.574);
    border-radius: 3rem;
}

footer > .clouds[id="1"] {
    height: 100px;
    width: 100px;
    z-index: 2;
    top: -140%;
    left: 44%;
    border-radius: 100%;
}


footer > .clouds[id="2"] {
    height: 130px;
    width: 130px;
    background-color: #ffff;
    z-index: 2;
    top: -160%;
    left: 49%;
    border-radius: 100%;
}

@media (max-width: 480px) {

    main {
        margin-bottom: 10%;
    }

    footer > .wrapper {
        padding: 2%;
        font-size: 12px;
    }

    footer > .clouds[id="0"] {
        left: 25%;
        top: 0%;
        width: 200px;
        height: 60px;
    }
    footer > .clouds[id="1"] {
        height: 50px;
        width: 50px;
        top: -50%;
        left: 35%;
    }

    footer > .clouds[id="2"] {
        height: 70px;
        width: 70px;
        top: -70%;
        left: 47%;
    }
}